*{
    margin: 0;
    padding: 0;
}

#cab{
    background-color: rgb(35, 141, 211);
    border: 5px solid rgb(48, 93, 241);
    height: 8vh;
}

#div1{
    background-color: rgb(35, 141, 211);
    border: 5px solid rgb(48, 93, 241);
    height: 100vh;
    width: 15vw; 
    display: inline-block;
}

#div2{
    background-color: rgb(35, 141, 211);
    border: 5px solid rgb(48, 93, 241);
    height: 100vh;
    width: 82vw;
    float: right;
}

#rodape{
    background-color: rgb(35, 141, 211);
    border: 5px solid rgb(48, 93, 241);
    height: 8vh;
}